#body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image{
    width:100px;
    height:200px;
    background: url('image.png') -15px -50px;
}
#userInput{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    width:100px;
}
.user{
    border:1px solid yellow;
    border-radius: 5px;
    background-color: yellow;

}
.dis-non{
    display:none;
}
.show{
    display:block;
}
div h2{
    text-align: center;
    width:100px;
    height:200px;
}
div h2{
    height:50px;
}